body {
    margin: 0;
}

.backButton {
    position: absolute;
}

.tooltip {
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
}

.tooltip::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: black;
    top: 90%;
    left: 50%;
    transform: rotateZ(45deg) translateX(-50%);
    z-index: -1;
}

.hide {
    opacity: 0;
    transform: translateY(-10px);
}

.show {
    opacity: 1;
    transform: translateY(0px);
}

.question-container {
    position: absolute;
    width: 800px;
    max-width: 80%;
    height: 200px;
    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2%;
    left: 28%;
    box-shadow: 0 0 10px 2px;
}

.strt-btn, .answr, .next {
    width: 100px;
    height: 50px;
}

.hidden {
    display: none;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

